@charset "utf-8";
/* CSS Document */

*{ margin:0; }

.supermain{height:;
width:100%;
overflow:hidden;
}
.f2{
	
	height:100px;
	width:100%;
	background-color:#000;
	float:left;
	}
.sam{
	float:left;
	height:200px;
	width:100%;
	background-color:#FFF;	
}
.samimg{
	height:200px;
	width:50%;
	float:left;
	margin-top:100px;
	
	background-color:#FFF;
	
}
.samfr{
	height:200px;
	width:44%;

	background-color:#FFF;
	float:left;
	
}

.main
{
		
	
	}
.logobor {
	float:left
	height:20px;
	width:100%;
	background:#F7F7F7}


.logo {
	float:left;
	
	
	height:172px;
	width:30%;
	background-color:#F7F7F7;
	margin-top:-10px;
	
} 
.menu {
	margin-top:15px;
	float:left;
	
	
	height:150px;
	width:70%;
	background-color:#F7F7F7;
	
} 
.nav{
	float:left;
	
	width:100%;
	height:40px;
	
	}
	.nav ul a li:hover{background-color:#999;}
 .nav a {text-decoration:none;}
	
	.nav ul{
		list-style:none;
		
		
		
		
	}
	
.nav ul li {
	color:#333;;
	background:none;
	

float:left; 
 
padding:10px;


border-right:2px solid #FFF;

border-left:2px solid #FFF;
width:100px;

}

.nav ul li:hover{
	
	cursor:pointer;
	
	

}

 .nav ul li ul li 
 {
	 
 float:none;
 background:none;
 
 display:none;
 margin-left:-52px;
 padding:10px;
 color:#333;
 border-left:2px solid #FFF;
 border-right:none;
 width:100px; 
 
 
}
 

 
 

.nav ul li:hover >ul li
{ 


display:block;





 
}

.package{
	margin-left:30px;
	height:100px;
	width:100percent;
	background:none;
	float:left;
	color:#FFF;
	font-style:italic;
	
}
 .free{height:200px;
width:100%;
background:none;
 }
 
 .mid{height:600px;
 width:23%;
 float:left;
 margin:12px;
 background-color:#F2F2F2;
 }
 .cont{
	 height:600px;
	 width:100%;
 }
 .footer{
	 margin-top:200px;
	 float:left;
	 height:200px;
	 width:100%;
	 background-color:#000;
 }
 .slide{
	 height:100px;
 width:70%;
 
 margin-top:50px;
 overflow:hidden;
 
 }
 
 .innr{
	  
 width:500%; height:100px; -webkit-animation:slid 20s  infinite  ; }
 
 
 .innr img{ width:20%; height:100px; float:left;}
 
 
 @-webkit-keyframes slid
{
	0%{ margin:0;}
	25%{ margin-left:-100%;}
	50%{ margin-left:-200%;}
	75%{ margin-left:-300%;}
	100%{ margin-left:-400%;}
}

.cont1 { margin-top:150px;
text-align:center;
font-size:24px;
font-family: Georgia, "Times New Roman", Times, serif;
color:#333;

}

.cont2{
	margin-top:10px;
text-align:center;
font-size:14px;
font-family: Georgia, "Times New Roman", Times, serif;
color:#333;

}
.btn{

margin-top:100px;
text-align:center;

	
}

.btn button{
	color:#666;
	font-size:18px;
	background:none;
	cursor:pointer;
	border-radius:25px;
	padding: 10px 40px;
	border:1px solid;
	border-color:#333;
	
}

.btn button:hover{ background-color:#000;
color:#F4F4F4;}

.hb{width:50%;
float:left;height:600px;
background-color:#FFF;}
.hb2{
	float:left;
	width:50%;
height:600px;
background-color:#FFF;
}
.hbtxt{
	width:60%;
	float:left;
	height:300px;
	background:none;
	margin-top:150px;
	margin-left:150px;
	font-size:75px;
	color:#171717;
	font-weight:200;
	font-family:Verdana, Geneva, sans-serif;
	
}
.hbtxt1{
	margin-left:100px;
	text-align:center;
	margin-top:-90px;
	width:40%;
	float:left;
	height:100px;
	background:none;
	font-weight:200;
	font-family:Verdana, Geneva, sans-serif;
	font-size:18px;
	color:#333;
	
}
	
	.hbtxt2{
		width:60%;
		height:100px;
		margin-left:160px;
			margin-top:-50px;
			float:left;
			font-family:Verdana, Geneva, sans-serif;
			color:#999;
	}
	.btn2{
		width:30%;
		height:200px;
		margin-left:160px;

margin-top:-40px;
text-align:center;


	
}

.btn2 button{
	color:#666;
	font-size:18px;
	background:none;
	cursor:pointer;
	border-radius:25px;
	padding: 10px 40px;
	border:1px solid;
	border-color:#333;
	
}

.btn2 button:hover{ background-color:#000;
color:#F4F4F4;}
.hb3{
	 float:left;
	 height:600px;
	 width:675px;
	 background-color:#000;
	 border-right:1px solid #333;
 }
 .hb4{
	 float:left;
	 height:600px;
	 width:673px;
	 background-color:#000;
 }
 
 .hb3txt{
	 margin-top:100px;
	 margin-left:150px;
	 height:350px;
 width:70%;
 background-color:#000;
 font-size:80px;
 padding:0px;
 font-weight: 100;
 font-family: Arial, Helvetica, sans-serif;
 color:#FFF;
 }
 .hb3txt2{height:100px;
 width:20%;
 color:#FFF;
 margin-top:-50px;
 margin-left:152px;
 font-family: Arial, Helvetica, sans-serif;
 font-size:18px;
 font-weight:bold;
 
 }
 .hb3txt3{
	 height:100px;
 width:60%;
 color:#FFF;
 margin-top:-50px;
 margin-left:152px;
 font-family: Arial, Helvetica, sans-serif;
 font-size:15px;
 font-weight:bold;
 }
 .btn3{


text-align:center;
height:50px;
width:50%;
margin-left:150px;
margin-top:-50px;
}

.btn3 button{
	background:none;
	font-size:18px;
	color:#FFF;
	cursor:pointer;
	border-radius:25px;
	padding: 10px 40px;
	border:1px solid #FFF;
	border-color:#333;
	
}

.btn3 button:hover{ background-color:#FFF;
color:#000;}
.hb4i{
	float:left;
	margin-left:30px;
	margin-top:250px;
	
	width:80%;
	height:100px;	
	
}
.hbtxt4{
	margin-left:80px;
	text-align:center;
	margin-top:-90px;
	width:40%;
	float:left;
	height:100px;
	background:none;
	font-weight:200;
	font-family:Verdana, Geneva, sans-serif;
	font-size:18px;
	color:#333;
}
.hbtxt5{
		width:60%;
		height:100px;
		margin-left:155px;
			margin-top:-50px;
			float:left;
			font-family:Verdana, Geneva, sans-serif;
			color:#999;
	}
	.hbtxt6{
	margin-left:130px;
	text-align:center;
	margin-top:-90px;
	width:50%;
	float:left;
	height:100px;
	background:none;
	font-weight:200;
	font-family:Verdana, Geneva, sans-serif;
	font-size:18px;
	color:#333;
	}
	.hbtxt7{
	margin-left:100px;
	text-align:center;
	margin-top:-90px;
	width:40%;
	float:left;
	height:100px;
	background:none;
	font-weight:200;
	font-family:Verdana, Geneva, sans-serif;
	font-size:18px;
	color:#333;
	

}

.hb5{width:50%;
float:left;height:600px;
background-color:#FFF;}
.hb6{
	float:left;
	width:50%;
height:600px;
background-color:#FFF;
}

.hb7{width:50%;
float:left;height:600px;
background-color:#FFF;}
.hb8{
	float:left;
	width:50%;
height:600px;
background-color:#FFF;
}
.hb9{width:50%;
float:left;height:600px;
background-color:#FFF;}
.hb10{
	float:left;
	width:50%;
height:600px;
background-color:#FFF;
}
